.header {
    display: flex; /*para poder alinear las cosas horizontal*/
    align-items: center; /*para poder alinear las cosas x2*/
    background-color: #5071be; 
    color: white; 
    padding: 8px; /*para rellenar*/
    border-radius: 0; /*cuadradoo*/
    margin-bottom: 2rem;
    
}
